@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    font-family: "Lexend Deca", "Helvetica", sans-serif;
}

body{
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intropage {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.intropage > h1 {
    font-size: 60px;
    font-family: 'Century', 'sans serif';
}

.intropage > button {
    height: 80px;
    width: 350px;
    font-size: 40px;
    color: whitesmoke;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgba(65, 105, 225, 0.9);
    border-radius: 40px;
    transition: width 0.5s, height 0.5s;
}

.intropage > button:hover {
    background-color: #121212;
    color: rgb(65, 105, 225);
    width: 360px;
    border: 4px solid rgba(65, 105, 225,0.8);
}

.ai_prompt {
    width: 100vw;
    height: 70px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(93, 86, 96,0.9);
}

.mic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
}

.mic > a {
    padding: 20px;
    border: 3px solid red;
    border-radius: 70px;
}

.speak-signal {
    border: 3px solid rgb(47, 255, 64);
}

.result {
    font-size: 25px;
}