<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/styler.css"  rel="stylesheet">
    <title>Medical Diagnosis with AI</title>
</head>
<body>
    <div class="intropage">
        <h1>Welcome to Telediagnosis.ai</h1>
        <button onclick="press()">Diagnose Me!</button>
        {% block main %}{% endblock %}
    </div>
    
    <script src="../static/logic.js"></script>
</body>
</html>